@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins;
    background: #3498DB;
    color: #ffffff;
    
    /* center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    padding: 10px;
	font-size: 16px;
	background-color: #ffffff;
	color: #3498DB !important;
	border-radius: 10px;
	border: none;
	box-shadow: 0 5px 10px #00000040;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}